@import "tailwindcss";

.btn-primary {
  padding: 6px 16px;
  background-color: #fc8298;
  color: white;
  font-weight: 600;
}

.btn-primary:hover {
  background-color: #d36f82;
}

.btn-secondary {
  padding: 6px 16px;
  background-color: #5bb4b7;
  color: white;
  font-weight: 600;
}

.btn-secondary:hover {
  background-color: #52a1a4;
}

nav a {
  color: #5bb4b7;
  font-weight: 500;
}
nav a:hover {
  color: #fc8298;
}
