@import "tailwindcss";

button,
a {
  cursor: pointer;
}

.btn-primary {
  padding: 6px 16px;
  background-color: #fc8298;
  color: white;
  border-radius: 2px;
  font-weight: 600;
  transition: all 0.3s ease;
}

.btn-primary:hover {
  background-color: #fc8298d0;
}

.btn-secondary {
  padding: 6px 16px;
  background-color: #5bb4b7;
  color: white;
  border-radius: 2px;
  font-weight: 600;
  transition: all 0.2s ease;
}

.btn-secondary:hover {
  background-color: #5bb4b7d0;
}

nav a {
  color: #5bb4b7;
  font-weight: 500;
  transition: all 0.1s ease;
}

nav a:hover {
  color: #fc8298;
}

.form {
  position: relative;
  transition: all 0.3s ease;
}

.label {
  position: absolute;
  left: 16px;
  top: 7px;
  color: gray;
  font-size: 16px;
  pointer-events: none;
  transition: all 0.3s ease;
}

.input {
  padding: 8px 16px;
  background-color: white;
  width: 100%;
  border-radius: 4px;
  color: black;
  font-weight: 600;
  outline: none;
  transition: all 0.3s ease;
}

.input:focus,
.input:valid {
  outline: 1px solid #fc8298;
}

.input:focus + .label,
.input:valid + .label {
  left: 16px;
  top: -10px;
  background-color: #fc8298;
  font-size: 12px;
  padding: 0px 8px;
  color: white;
  border-radius: 4px;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #5bb4b7 #5bb4b7 transparent transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after,
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent #fc8298 #fc8298;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}
.loader::before {
  width: 32px;
  height: 32px;
  border-color: #5bb4b7 #5bb4b7 transparent transparent;
  animation: rotation 1.5s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
