@import "tailwindcss";

button,
a {
  cursor: pointer;
}

.btn-primary {
  padding: 6px 16px;
  background-color: #fc8298;
  color: white;
  border-radius: 2px;
  font-weight: 600;
  transition: all 0.3s ease;
}

.btn-primary:hover {
  background-color: #fc8298d0;
}

.btn-secondary {
  padding: 6px 16px;
  background-color: #5bb4b7;
  color: white;
  border-radius: 2px;
  font-weight: 600;
  transition: all 0.2s ease;
}

.btn-secondary:hover {
  background-color: #5bb4b7d0;
}

nav a {
  color: #5bb4b7;
  font-weight: 500;
  transition: all 0.1s ease;
}

nav a:hover {
  color: #fc8298;
}

.form {
  position: relative;
  transition: all 0.3s ease;
}

.label {
  position: absolute;
  left: 16px;
  top: 7px;
  color: gray;
  font-size: 16px;
  pointer-events: none;
  transition: all 0.3s ease;
}

.input {
  padding: 8px 16px;
  background-color: white;
  width: 100%;
  border-radius: 4px;
  color: black;
  font-weight: 600;
  outline: none;
  transition: all 0.3s ease;
}

.input:focus,
.input:valid {
  outline: 1px solid #fc8298;
}

.input:focus + .label,
.input:valid + .label {
  left: 16px;
  top: -10px;
  background-color: #fc8298;
  font-size: 12px;
  padding: 0px 8px;
  color: white;
  border-radius: 4px;
}
